<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>
    <meta charset="utf-8">
    <title>
        {% if page.title %}
            {{ page.title }} &ndash;
        {% endif %}
        {{ site.name }}
    </title>

    <meta name="author" content="{{ site.name }}" />
    <meta name="description" content="{{ site.description }}" />

    <link rel="alternate" type="application/rss+xml" href="/atom.xml" />

    <link rel="stylesheet" href="/css/base.css" type="text/css" media="screen, projection" />
    <link rel="stylesheet" href="/css/monokai.min.css" type="text/css" />
    <link media="only screen and (max-device-width: 480px)" href="/css/iphone.css" type="text/css" rel="stylesheet" />
    <link media="only screen and (device-width: 768px)" href="/css/iphone.css" type="text/css" rel="stylesheet" />
    <link href="http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz" rel="stylesheet" type="text/css">

    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script type="text/javascript" src="/js/highlight.pack.js"></script>
    <script type="text/javascript" src="/js/application.js"></script>
</head>

<body>
    <section class="sidebar">
        <a href="/">
            <img src="{{ site.gravatar_url }}?s=150" height="75" width="75" class="avatar" />
        </a>

        <section class="meta">
            <a href="https://github.com/{{ site.github }}" target="_blank"><img src="/images/github.png" /></a>
            <a href="https://twitter.com/{{ site.twitter }}" target="_blank"><img src="/images/twitter.png"></a>
            <a href="/atom.xml"><img src="/images/rss.png" /></a>
        </section>
    </section>

    <section class="content about">
        <h1><a href="#">{{ site.name }}</a></h1>
        <p>Hello there! I am a developer with a big crush on open source. I work for <a href="#">Peytz & Co</a> in Copenhagen, Denmark.</p>
        <p>You can see of my open source projects on <a href="https://github.com/{{ site.github }}">GitHub</a>
        (<a href="https://github.com/{{ site.github }}/Stampie">Stampie</a>, <a href="https://github.com/{{ site.github }}/Bernard">Bernard</a> etc.)
        and read my ramblings on <a href="https://twitter.com/{{ site.twitter }}">Twitter</a>.</p>
    </section>

    {% block content_wrapper %}
            {{ block('content') }}
    {% endblock %}
</body>
</html>
